.new-task {
  position: relative;
  display: flex;
  margin: 0 auto 5rem auto;
  height: 2rem;
}

.new-task__inputs {
  display: flex;
  gap: 0.25rem;
}

.add-button {
  top: 10%;
  height: 3.25rem;
}

.new-task--input {
  width: 25rem;
  margin-right: 1rem;
  height: 3rem;
  font-family: "Oxygen", sans-serif;
}

@media only screen and (max-width: 600px) {
  .new-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0 4rem 0;
    gap: 0;
    align-items: center;
  }

  .new-task--input {
    width: 13rem;
    text-align: center;
  }

  .new-task-tag--input {
    width: 9rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .new-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0 4rem 0;
    gap: 0;
    align-items: center;
  }

  .new-task--input {
    width: 17rem;
    text-align: center;
  }

  .new-task-tag--input {
    width: 12rem;
  }
}
