.task-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around center;
  width: 80%;
  gap: 3px;
}

.task-bar:last-child {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.task-bar:first-child {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.task-bar--item {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}

.done {
  width: 10%;
  justify-content: center;
}

.text {
  width: 50%;
  padding-left: 2rem;
  border: none;
  box-sizing: border-box;
}

.text:hover {
  border: 2px solid #0288d1;
}

.no-date {
  font-size: 0.9rem;
  color: rgb(112, 112, 112);
}

.done-task {
  position: relative;
  text-decoration: line-through;
}

.date-container {
  width: 15%;
}

.date {
  width: 100%;
  justify-content: center;
  border: none;
}

.date:hover {
  border: 2px solid #0288d1;
}

.tag {
  width: 15%;
  padding: 0.25rem 0.6rem;
  text-align: center;
  font-size: 0.9rem;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.tag:hover {
  border: 2px solid #0288d1;
}

.empty {
  font-size: 0.9rem;
  color: rgb(112, 112, 112);
}

.remove {
  justify-content: center;
  width: 10%;
}

.past-date {
  color: rgb(181, 0, 0);
}

@media only screen and (max-width: 600px) {
  .task-bar {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2rem 1.5rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    gap: 0;
    background-color: white;
  }

  .task-bar--item {
    box-shadow: none;
  }

  .done {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .remove {
    width: 100%;
    grid-column: 8 / span 1;
    grid-row: 1 / span 2;
  }

  .date-container {
    width: 100%;
    grid-column: 2 / span 3;
    font-size: 0.7rem;
    grid-row: 2 / span 1;
  }

  .date {
    font-size: 0.8rem;
    height: 100%;
  }

  .no-date {
    font-size: 0.8rem;
  }

  .tag {
    width: 100%;
    grid-column: 5 / span 3;
    font-size: 0.8rem;
    grid-row: 2 / span 1;
  }

  .tag-empty {
    font-size: 0.8rem;
  }

  .text {
    width: 100%;
    grid-column: 2 / span 6;
    grid-row: 1 / span 1;
    color: #1976d2;
    padding: 0.5rem 0.75rem 0 0.75rem;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .task-bar {
    width: 95%;
  }

  .text {
    width: 40%;
  }

  .tag {
    width: 20%;
  }

  .done {
    width: 10%;
  }

  .remove {
    width: 10%;
  }

  .date-container {
    width: 20%;
  }

  .date {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .task-bar--item {
    min-height: 3rem;
  }
}

@media only screen and (min-width: 1051px) {
  .text {
    width: 38%;
  }

  .done,
  .remove {
    width: 7%;
  }
}
