.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3px;
  align-items: space-around center;
  margin-bottom: 5rem;
}

.empty {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
}

.labels {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: space-around center;
  color: rgb(28, 28, 28);
}

.label {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort {
  color: rgb(241, 241, 241);
}

.label-done {
  width: 10%;
}

.label-done.filter-button {
  margin: 0;
}

.label-text {
  width: 50%;
}

.label-date {
  width: 15%;
}

.label-tag {
  width: 15%;
}

.label-remove {
  width: 10%;
}

.tasks-list-empty {
  color: rgb(241, 241, 241);
  font-size: 1.1rem;
}

@media only screen and (max-width: 1000px) {
  .tasks-list {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 3rem;
  }

  .tasks-list-empty {
    text-align: center;
  }

  .labels {
    display: none;
  }

  .label-done,
  .label-remove {
    width: 3.5rem;
  }

  .label-text {
    width: 18rem;
  }

  .label-date,
  .label-tag {
    display: none;
  }
}

@media only screen and (min-width: 1001px) {
  .tasks-filter {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .label-text {
    width: 38%;
  }

  .label-done,
  .label-remove {
    width: 7%;
  }
}
