.lists-mainpage {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.lists-mainpage > ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-element-mainpage {
  display: flex;
  justify-content: center;
}

.lists-empty {
  color: rgb(241, 241, 241);
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  .lists-mainpage > ul {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .lists-mainpage > ul {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .lists-mainpage > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
