.single-list-mainpage {
  width: 40%;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
}

.single-list-mainpage > div {
  background-color: white;
}

.bar-element__name {
  display: flex;
  align-items: center;
  width: 80%;
  padding-left: 1rem;
  font-size: 1.05rem;
  text-decoration: none;
  color: rgb(66, 66, 66);
  border-right: 1px dotted rgb(151, 187, 255);
}

.bar-element__name:hover {
  color: #5367b6;
}

.done,
.remove {
  display: flex;
  justify-content: center;
}

.bar-element__remove,
.bar-element__edit {
  display: flex;
  justify-content: center;
  width: 10%;
}

.bar-element__remove {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.bar-element__edit {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-right: 1px dotted rgb(151, 187, 255);
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(241, 241, 241) !important;
}

@media only screen and (max-width: 900px) {
  .single-list-mainpage {
    width: 100%;
  }

  .bar-element__name {
    width: 74%;
  }

  .bar-element__remove,
  .bar-element__edit {
    display: flex;
    justify-content: center;
    width: 13%;
  }
}
