@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

body,
html {
  /* background-color: rgb(240, 240, 240); */
  /* background-color: #576cbc; */
  /* background-color: #576cbc; */
  /* background-image: linear-gradient(140deg, #576cbc, #e7e7e7); */
  background-image: linear-gradient(140deg, #576cbc, #e7e7e7);

  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 3rem 0 2rem 0;
}

.mainpage-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: 4.5rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 2.8rem;
    text-align: center;
  }
}
